{
  "openapi": "3.1.0",
  "info": {
    "title": "Open Paywall Agent API",
    "version": "1.1.0",
    "description": "Create embeddable paywalls for long-form articles. Agents validate for free, then pay via Machine Payments Protocol (HTTP 402, PathUSD on Tempo) or x402 (USDC on Base) to publish. Bankr: POST /api/x402/publish and GET /api/x402/articles/{slug}. On-chain Monad registration may still require one publisher wallet approval. Human readers still unlock USDC on Monad.",
    "contact": {
      "name": "Open Paywall",
      "email": "carlos.a.reyes00@gmail.com",
      "url": "https://openpaywall.app"
    }
  },
  "servers": [
    {
      "url": "https://openpaywall.app"
    }
  ],
  "x-service-info": {
    "categories": [
      "content-monetization",
      "paywall",
      "publishing",
      "embeddable-paywall",
      "pay-per-article"
    ],
    "docs": {
      "homepage": "https://openpaywall.app",
      "llms": "https://openpaywall.app/llms.txt",
      "apiReference": "https://openpaywall.app/agents.md"
    }
  },
  "note": "Production serves this document dynamically from server/openapi.mjs (includes live MPP_TEMPO_RECIPIENT). Keep this file aligned for local static previews.",
  "paths": {
    "/api/agents/health": {
      "get": {
        "operationId": "agentHealth",
        "summary": "Agent API + MPP configuration status",
        "security": [],
        "responses": {
          "200": { "description": "Health payload" }
        }
      }
    },
    "/api/agents/publish/validate": {
      "post": {
        "operationId": "validatePublish",
        "summary": "Validate publish payload and return quote (free)",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PublishRequest" }
            }
          }
        },
        "responses": {
          "200": { "description": "Valid payload + quote" },
          "400": { "description": "Invalid payload" }
        }
      }
    },
    "/api/agents/publish": {
      "post": {
        "operationId": "publishPaywall",
        "summary": "Create embed + sync article body (MPP paid)",
        "description": "Unpaid requests receive HTTP 402 with WWW-Authenticate Payment challenge.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.05"
          },
          "protocols": [
            {
              "mpp": {
                "method": "tempo",
                "network": "tempo",
                "chainId": 4217,
                "asset": "0x20c0000000000000000000000000000000000000",
                "amount": "50000",
                "recipient": "0x340f0aAAE5A6FB14B37F55De96EF429f08B6659F"
              }
            }
          ],
          "offers": [
            {
              "method": "tempo",
              "intent": "charge",
              "currency": "0x20c0000000000000000000000000000000000000",
              "amount": "50000",
              "description": "Create one embeddable paywall — $0.05 in pathUSD on Tempo"
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PublishRequest" }
            }
          }
        },
        "responses": {
          "200": { "description": "Published embed payload" },
          "402": { "description": "Payment Required" },
          "400": { "description": "Invalid payload" },
          "503": { "description": "MPP not configured on server" }
        }
      }
    },
    "/api/x402/publish": {
      "post": {
        "operationId": "x402PublishPaywall",
        "summary": "Create embed + sync article body (x402 USDC on Base)",
        "description": "Bankr-friendly x402. Unpaid → HTTP 402 with accepts[] (USDC on Base, ~$0.05). MPP PathUSD on POST /api/agents/publish is unchanged.",
        "responses": {
          "200": { "description": "Published embed payload" },
          "402": { "description": "x402 Payment Required (USDC on Base)" },
          "503": { "description": "x402 not configured on server" }
        }
      }
    },
    "/api/x402/unlock": {
      "get": {
        "operationId": "x402UnlockGet",
        "summary": "Unlock / fetch paid body (x402 USDC on Base, or existing entitlement)",
        "responses": {
          "200": { "description": "Unlocked body" },
          "402": { "description": "x402 Payment Required" },
          "404": { "description": "Article not found" }
        }
      }
    },
    "/api/x402/articles/{slug}": {
      "get": {
        "operationId": "x402ArticleBySlug",
        "summary": "Unlock / fetch paid body by slug (x402)",
        "responses": {
          "200": { "description": "Unlocked body" },
          "402": { "description": "x402 Payment Required" },
          "404": { "description": "Article not found" }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PublishRequest": {
        "type": "object",
        "required": ["title", "articleId", "teaser", "body", "publisher"],
        "properties": {
          "title": { "type": "string" },
          "articleId": { "type": "string" },
          "teaser": { "type": "string" },
          "body": { "type": "string" },
          "publisher": { "type": "string" },
          "paymentAsset": {
            "type": "string",
            "enum": ["usdc", "mon"],
            "default": "usdc",
            "description": "Settlement asset for reader unlocks. Default usdc ($0.50)."
          },
          "price": {
            "type": "string",
            "default": "0.50",
            "description": "USD amount for USDC (default 0.50) or MON amount for MON (default 1)."
          },
          "author": { "type": "string" }
        }
      }
    }
  }
}
